body{
    display: grid;
    grid-template-columns: 17% 83%;
    margin: 0px;
    height: 100%;
    background-color: white;
}
#col-kanan{
    height: 100%;
}
#col-kiri{
    background-color: rgb(140, 180, 243);
    text-align: center;
}
#header{
    position: sticky;
    height: 70px;
    top: 0px;
    z-index: 1000;
    background-color: rgb(55, 104, 197);
    color: white;
}
#container{
    height: 837px;
}
#footer{
    background-color: rgb(55, 104, 197);
    color: white;
    height: 70px;
}
#profile{
    width: 100%;
    height: 100px;
    grid-template-columns: 30% 70%;
    background-color: #64b5f6 ;
    padding: 10px;
}
#photo{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
}
#text-profile{
    font-size: 15px;
    float: left;
    margin-left: 20px;
}
.btn.dropdown-button{
    width: 100%; 
    height: 50px;
    line-height: 50px;
    color: black; 
    padding-left: 0px; 
    text-align: left; 
    padding-left: 20px;
}
.btn.dropdown-button:hover{
    color: beige;
}
#menu{
    position: sticky;
    top: 0px;
    z-index: 1;
}